body{
  background: #222;


}


video {
   border: solid 1px black;
   width: 100%;
   margin: 4px;

}

.videoDiv {
   width:45%;
   float:left;
   
}

.controlIcon{
   text-align: center;
   width: 30px;
   height: 30px;
   line-height: 30px;
   font-size: 0.8em;
   color: white;
   border-radius: 4px;
   border: solid white 1px;
   background: linear-gradient(#484848,#5f5f5f);
   float: left;
   margin: 4px;
   
}

.controlIcon:hover{
   background: linear-gradient(#333,#555);
}
   
.controlIcon > i {
   margin: auto;
   
}

.recording{
     background: linear-gradient(#d33, #a33)


}